{% extends 'layout/base.html' %}
{% block content %}
<h1>Вход</h1>
<form id="login-form" method="post">
    {% csrf_token %}
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <button type="submit" id="formid">Login</button>
  </div>
</form>

<div id="author-data"></div>

{% endblock content %}
