<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">О нас</h5>
        <p>
          Наш сайт позволяет зарегистрированным пользователям вести свой личный блог. Если вы еще не зарегистрированы, вы можете просматривать статьи нашего блога, но не можете их публиковать.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <h5 class="text-uppercase">Ссылки</h5>
    <ul class="list-unstyled mb-0">
      <li>
        <a href="#">Главная</a>
      </li>
      <li>
        <a href="#">Статьи</a>
      </li>
      <li>
        <a href="#">Регистрация</a>
      </li>
      <li>
        <a href="#">Вход</a>
      </li>
    </ul>
  </div>

  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <h5 class="text-uppercase mb-0">Социальные сети</h5>
    <ul class="list-unstyled">
      <li>
        <a href="#" class="me-4">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="#" class="me-4">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="#" class="me-4">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="#" class="me-4">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
      </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p class="text-dark" href="#">Время: {% now "d/m/y H:i" %}</p>
    <p>{{ current_time }}</p>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Все права защищены: <a class="text-dark" href="#">My Blog Site</a>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <button class="btn btn-primary">Поддержать разработчиков</button>
  </div>
</footer>
<style>
  footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 14px;
    color: #333;
  }

  footer h5 {
    font-size: 16px;
    font-weight: bold;
  }

  footer p {
    margin-bottom: 0;
  }
</style>
<!-- Include Bootstrap 5 CSS and JS files here -->

<!--
<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">О нас</h5>

        <p>
          Наш сайт позволяет зарегистрированным пользователям вести свой личный блог. Если вы еще не зарегистрированы, вы можете просматривать статьи нашего блога, но не можете их публиковать.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Ссылки</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#">Главная</a>
          </li>
          <li>
            <a href="#">Статьи</a>
          </li>
          <li>
            <a href="#">Регистрация</a>
          </li>
          <li>
            <a href="#">Вход</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Социальные сети</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#" class="me-4">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#" class="me-4">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#" class="me-4">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="#" class="me-4">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Все права защищены: <a class="text-dark" href="#">My Blog Site</a>
  </div>
</footer>
-->
