{% extends 'layout/base.html' %}
{% block content %}
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center">Register</h2>
                <form method="post">
                   
                    <table>
                         {{ form }}
                    </table>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div> -->
    <form id="create-author-form" method="post" action="{%  url 'authors:create_author_api' %}">
        {% csrf_token %}
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" name="first_name" required><br>
    
        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" name="last_name" required><br>
        <select id="gender" name="gender" required>
            <option value="m">Male</option>
            <option value="f">Female</option>
          </select><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>        
    
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
    
        <button type="submit">Create</button>
      </form>
{% endblock %}